h3 {
    color: black;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;

}




/* -------- */


/* Animated Wave Background Style  */
html,
body {
    width: 100%;
    height: 100%;

}

body {
    background: radial-gradient(ellipse at center, rgba(255, 254, 234, 1) 0%, rgba(255, 254, 234, 1) 35%, #B7E8EB 100%);
}

